.home-services {
  padding: 50px;
  height: auto;
  background-color: #222A35;
  width: 100%;
}
.home-services.x2{
    padding: 70px;
}
.home-services-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; /* Distribute cards evenly on the row */
}

.home-services-card {
  flex: 0 0 calc(25% - 40px); /* Each card takes 25% width minus margins */
  margin: 20px;
  padding: 20px;
  
 
  
}

.home-services-card .img {
  width: 80px;
  height:80px; 
  /* Fixed height for the image container */
}

.home-services-card img {
  height: 100%;
  width: 100%;
}
.home-services-card h2{
    font-size: 20px;
    letter-spacing: 1.2;
    line-height: 1.3;
    color: var(--white);
    font-weight: 400;
    padding: 6px 0px;
}
.home-services-card h3{
    font-size: 14px;
    color: var(--white);
    font-weight: 100;
    letter-spacing: 1.2;
    line-height: 1.3;
}
@media(max-width:768px){
    .home-services{
        padding: 20px;
    }
    .home-services.x2{
    padding: 30px;
}
    .home-services-container{
        flex-direction: column;
    }
}
/* block 2 */
.block-2{
    margin: 50px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.home-services .block-2 h2{
color: var(--white);
font-size: 20px;
text-transform: uppercase;
font-weight: 500;
margin-left: 8px;
}
.home-services .block-2 h1{
    color: var(--white);
    font-size: 60px;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
    position: relative;
    margin: 10px 5px;
}
.home-services .block-2 h1::after{
    content:"";
    position: absolute;
    bottom: 0px;left: 0px;
    width: 4%;
    height: 2px;
    background-color: var(--secondary-color);
}
.home-services .block-2 p{
    font-size: 16px;
    font-weight: 200;
    color: var(--normal-2);
    line-height: 1.4;
    margin-left: 14px;
}
.home-services .block-2 button{
    margin: 10px 10px;
  padding: 10px 60px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  color: var(--secondary-color);
  background-color: transparent;
  border: 2px solid var(--normal-2);
  cursor: pointer;
  text-transform: uppercase;
}
.block-2 .img{
    flex: 50%;
    height: 300px;
    width: 400px;
}
.block-2 .img img{
width: 100%;height: 100%;
cursor: pointer;
}
@media(max-width:768px){
   .home-services .block-2{
        flex-direction: column;
        padding: 20px;
        margin: 2px;
    }
   .home-services .block-2 h1{
        font-size: 30px;
    }
   .home-services .block-2 h2{
        font-size: 18px;
    }
   .home-services .block-2 p{
        font-size: 14px;
    }
   .home-services .block-2 button{
        padding: 10px 30px;
        font-size: 14px;
    }
   .home-services .block-2 .img{
        margin: 20px 0px;
        width: 100%;height: 100%;
    }
}